.btn {
  font-size: 22px;
  font-family: 'Baloo', serif;
  padding: 7px 10px;
  width: 100%;
  outline: none;
  transition: 0.3s all;
  cursor: pointer;
}

.btn.primary {
  border-radius: 10px;
  background: #3498db;
  border: none;
  color: #ffffff;

}

.btn.primary:hover {
  background: #076fb5;
}

.btn.warning {
  border-radius: 10px;
  background: #ff9800;
  border: none;
  color: #ffffff;

}

.btn.warning:hover {
  background: #de8400;
}

.btn.secondary {
  border: none;
  background: transparent;
  color: #333333;
}


.btn.secondary:hover {
  color: #076fb5;
}

.btn.secondary.white {
  color: rgba(255, 255, 255, 0.8) !important;
}

.btn.secondary.white:hover {
  color: rgba(255, 255, 255, 1) !important;
}